*{
    margin:0; /*zerar as margens*/
    padding:0; /*zerar as margens*/
    box-sizing: border-box;
    text-decoration:none; /*tirar os prontos*/
    list-style: none;
}

body{
    overflow:hidden;
}